body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
}


.center-div {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: darkgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 400px;
}

h1{
    text-align: center;
}
