<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
    {% load static %}
    <script src={% static "scripts/passreset_validation.js" %}></script>
    <link rel="stylesheet" href="{% static "styles/style_passreset.css" %}">
</head>
<body>

<div id="nav">
    {% include "navigation.html" with request=request %}
</div>


<div class="center-div">
<h1>Reset password</h1>

<form method="POST" action="">
    {% csrf_token %}
    <table>
        {% for field in form %}
            <tr>
                <td>{{ field.label }}</td>
                <td>{{ field }}</td>
                <td id="{{ field.label }}"></td>
            </tr>
        {% endfor %}

        <tr>
            <td>
                <input type="submit" id="reset" disabled value="Reset">
            </td>
        </tr>
    </table>
</form>
</div>

</body>
</html>